@font-face {
  font-family: 'Gabarito';
  src: url("/fonts/Gabarito-VariableFont_wght.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Gabarito, Arial, sans-serif;

  a {

    @apply text-green-600 underline;

    font-size: 15px;
  }
}

h1, h2, h3, h4, h5, h6 {
  @apply text-gray-500
}

a:hover {
  @apply text-green-800 font-bold;
}

header nav a {
  @apply text-xl;
}

.btn-primary-outline {
  @apply px-2 py-1 border-2 border-green-700 rounded no-underline;
}

.btn-primary {
  @apply px-2 py-1 border-2 border-green-700 rounded no-underline bg-green-700 text-white;
}

.input-group {
  @apply my-4 grid grid-cols-2 gap-2;

  label {
    @apply mx-2;
  }
}

input[type=text], input[type=number], textarea {
  @apply rounded border-2 border-gray-400 px-2 py-1 text-gray-700 text-lg focus:outline-none focus:ring focus:ring-green-300;
}

.error-hint {
  @apply text-red-700 text-sm block mt-1;
}

.paginator .disabled {
  @apply bg-gray-400 pointer-events-none cursor-not-allowed opacity-50	;
}